[mysqld]
# 기본 설정
bind-address = 0.0.0.0
port = 3306
max_connections = 100

# 데이터 디렉토리
datadir = /usr/local/mysql/data
socket = /tmp/mysql.sock

# 로그 설정
log-error = /usr/local/mysql/data/mysqld.local.err
pid-file = /usr/local/mysql/data/mysqld.local.pid

# 문자셋 설정
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci

# 보안 설정
skip-name-resolve

[mysql]
socket = /tmp/mysql.sock
default-character-set = utf8mb4

[client]
socket = /tmp/mysql.sock
default-character-set = utf8mb4
